
# Auth0 OAuth2 Configuration
AUTH0_DOMAIN = your.domain.auth0.com
AUTH0_API_AUDIENCE = https://your.api.audience
AUTH0_ISSUER = https://your.domain.auth0.com/
AUTH0_ALGORITHMS = RS256
AUTH0_VALID_CLIENT_IDS = your_client_id01,your_client_id02