# Database Configuration
DATABASE_URL=postgresql://user:password@host:port/database

# SSL Certificate Path (optional - only needed if using SSL)
DB_SSL_CERT_PATH=./config/ca.pem

# Auth0 OAuth2 Configuration
AUTH0_DOMAIN = your.domain.auth0.com
AUTH0_API_AUDIENCE = https://your.api.audience
AUTH0_ISSUER = https://your.domain.auth0.com/
AUTH0_ALGORITHMS = RS256
AUTH0_VALID_CLIENT_IDS = your_client_id01,your_client_id02
AUTH0_HTTPX_VERIFY_SSL=true
